<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HubUrl" value="https://localhost:51145/notification" />
    <add key="SetMissionMapUrl" value="https://localhost:51141/api/MissionMap/SetMissionMap" />
    <add key="DeleteMapUrl" value="https://localhost:51141/api/MapRepository/DeleteMap" />
    <add key="GetAllMapsUrl" value="https://localhost:51141/api/MapRepository/GetAllMaps" />
    <add key="GetCurrentMissionMapUrl" value="https://localhost:51141/api/MissionMap/GetCurrentMissionMap" />
  </appSettings> 
</configuration>